/* .header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10vh;
  width: 100%;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.nav__black {
  background-color: rgb(20, 20, 20);
}
.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul {
  width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  margin-left: 8%;
}
.header_right ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
} */
.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10vh;
  width: 100%;
  color: white;
  transition: all 0.5s ease-in;
  z-index: 1;
}
.bg-body-tertiary {
  background-color: transparent !important;
}


.nav__black {
  background-color: transparent;
}

.header_left .nav-link {
  color: white;
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.header_left .nav-link:hover {
  color: #ab1212;
}

.header_right .nav-link {
  color: white;
  margin-right: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.header_right .nav-link:hover {
  color: #991616;
}
