 .footer_outer_container {
  background-color: #111;
  color: white;
  padding: 20px 0;
}

.footer_icons {
  font-size: 1.5rem;
  gap: 15px;
}

.footer_icons .social_icon {
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.footer_icons .social_icon:hover {
  transform: scale(1.2);
}

.footer_data ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
}

.footer_data ul li {
  margin: 5px 0;
  font-size: 0.9rem;
  cursor: pointer;
}

.footer_data ul li:hover {
  text-decoration: underline;
}

.service_code p {
  font-size: 1rem;
  cursor: pointer;
  width: 14%;
  border: #a6a6a6 solid 2px;
}

.copy-write {
  font-size: 0.9rem;
  color: #a6a6a6;
}

